body {min-height:100%;}

.clear-items {
	position:fixed;top:0;right:0;
}

ul {
	margin:0;padding:0;
	list-style: none;
}
li {

}
.task-list {
	padding-bttom:50px;
}
.to-do-item {
	cursor:pointer;
	font-size:2rem;
}
	.task-list .done {
		opacity:0.25;
		background-color:#eaeaea;
		/*text-decoration: line-through;*/
	}
.delete-button button.button {
	width:100%;height:100%;
}

.add-new {
	position:fixed;
	bottom:0;
	width:100%;
}
form[name="newTask"] * {
	margin:0;
}